*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings*.pyc
dist/*
build/*
*.pydevproject
*.project
*.settings
